<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Boilerplate</title>
</head>
<body>
  <p>Boilerplate is up and ready</p>
</body>
</html>
